.main-contain {
	width: 43%;
	margin: 0px auto;
}
.menu {
	margin-top:10px;
	background: #ddd;
	height: 40px;
	display: block;
	border-radius: 10px;
	padding: 5px 25px;
}
.first-ul > li {
	float: left;
	line-height: 40px;
	font-size: 18px;
	margin-right: 25px;
	z-index: 1;
	position: relative;
}
.first-ul > li > a {
	color: #2A2E36;
	text-decoration: none;
	padding: 15px 30px;
}
.first-ul > li > a:hover, .dd-ul > li > a:hover {
	background: #4B545F;
	color: #fff;
}
.dd-ul > li > a:hover > .first-ul > li > a {
	background: #4B545F;
	color: #fff;
}

ul li:hover > ul {
	display: block !important;
	transition: all 300ms ease-in-out 0s;
}
.dd-ul > li {
	border-bottom: 1px solid #ccc;
}

.first-ul > li:last-child {
	border-bottom: 0px solid #ccc;
	/*margin-right: 0px;*/
}

ul.dd-ul li a {
	text-decoration: none;
	color: #23272D;
	padding: 0 12px;
	display: block;
}