html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main-contain {
	width: 50%;
	margin: 0px auto;
}

.menu {
	background: #ddd;
	height: 40px;
	display: block;
	border-radius: 10px;
	padding: 5px 25px;
}
.first-ul > li {
	float: left;
	line-height: 40px;
	font-size: 18px;
	margin-right: 25px;
	z-index: 1;
	position: relative;
}
.first-ul > li > a {
	color: #2A2E36;
	text-decoration: none;
	padding: 15px 30px;
}
.first-ul > li > a:hover, .dd-ul > li > a:hover {
	background: #4B545F;
	color: #fff;
}
.dd-ul > li > a:hover > .first-ul > li > a {
	background: #4B545F;
	color: #fff;
}

ul.dd-ul {
	position: absolute;
	background: #ddd;
	border-radius: 0px 0px 10px 10px;
	display: none;
	width: 140px;
}
ul li:hover > ul {
	display: block !important;
	transition: all 300ms ease-in-out 0s;
}
.dd-ul > li {
	border-bottom: 1px solid #ccc;
}
.dd-ul > li:last-child {
	border-bottom: 0px solid #ccc;
}
ul.dd-ul li a {
	text-decoration: none;
	color: #23272D;
	padding: 0 12px;
	display: block;
}
.first-ul li .dd:before {
	color: #808b9c;
	content: "\f107";
	display: inline;
	font-family: FontAwesome;
	margin-left: 70px;
	position: absolute;
	text-align: center;
	width: 10px;
	z-index: 99;
}